.banner{
    margin-bottom: 0px;
    background-image: url('../images/wallpaper.jpg');
    color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
}

.fakeimg {
height: 200px;
width: 200px;
background-color: whitesmoke;
}

.fakeimg2 {
    height: 200px;
    width: 600px;
    background-color: whitesmoke;
    }

body {
    background-color:#a8c970;
}

.colom2 {
    margin-left: 50px;
}

.navbar{
    background-color: #435523;
}

.footer {
    height: 50px;
    background-color: #435523;
    color: antiquewhite;
}